body {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  background-color: #e0e0e0;
  color: #4b0082;
  text-align: center;
  font-size: larger;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 900;
}

.video-container {
  position: relative;
  width: min(560px, 100%);
  height: 0;
  padding-bottom: min(315px, 56.25%);
  margin: auto;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.banner {
  width: min(300px, 45%);
}
